* {
    box-sizing: border-box;
}

html {
    height: 100vh;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
}

header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background: white;
    color: black;
  }

  .banner {
    text-align: center;
  }

  .banner img {
    height: auto;
    max-width: 100%;
    max-height: 200px;
}

  .icon {
    width: 50px;
    height: auto;
    vertical-align: middle;
    margin-right: 10px;
    margin: 16px;
  }

  button {
    vertical-align: middle;
  }

  .sidebar {
    background-color: #f0f0f0;
    width: 230px;
    padding: 20px;
    position: absolute;
    top: 223px;
    left: 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    list-style-type: none;
  }

  .facts-list {
    margin-left: 250px;
    padding: 20px;
}

